/**
 * Styles for the admin pages

-------------------------------------------------------------------------------------
 Copyright (C) 2015 Scott Novis <scott@novisware.com>

 TSLLFields free software: you can redistribute it and/or modify it under the terms 
 of the GNU General Public License as published by the Free Software Foundation, version.

 This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 
 See the GNU General Public License for more details.
 You should have received a copy of the GNU General Public License along 
 with this program. 
 
 If not, see <http://www.gnu.org/licenses/>.
-------------------------------------------------------------------------------------
 
 */
.wrap h3 { color: blue; }
form#team_form ul li label { width: 125px; display: block; float: left; text-align: right;  }
div.box { width:600px; padding: 15px; border: 1px solid #CCC; }
span.button_row { width: 100%; text-align: right; display: block; }
form#team_form ul li label.error {
    border: none;
    color: #770000;
    font-weight: bold;
    float: right; clear: both; width: 375px; text-align: right;
}
dl dt { font-weight: bold; float: left; display: block; width: 64px; text-align: right; }
dl dd { padding-left: 70px;}
th.sortableHeader { cursor: pointer; text-decoration: underline; }
th.sortableHeaderDown { cursor: pointer; text-decoration: underline; }
th.sortableHeaderUp { cursor: pointer; text-decoration: overline; }

#icon-teams {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/teams-32.png) no-repeat;
}

#icon-fields {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/baseball-32.png) no-repeat;
}


.icon64 {
float:left;
height:68px;
margin:14px 6px 0 0;
width:68px;
}

.tsll_label { width: 125px; display: block; float: left; text-align: right;  }

table#resv_table {
    border-width: 2px;
    border-collapse: collapse;
    border-spacing: 0px;
    border-style: solid;
    border-color: gray;
}
table#resv_table td, table#resv_table th {
    border-width: 2px;
    padding: 2px;
    border-spacing: 0px;
    border-style: inset;
    border-color: gray;    
}

th.DATE_HEADER {
    width: 80px;
}
th.TIME_HEADER {
    width: 80px;
}
th.FIELD_HEADER {
    width: 90px;
}
th.REQ_HEADER {
    width: 40px
}
tr.MARKED {
    background-color: #FFd;
}
td.OPEN {
    text-align: center;
}

td.MINORS {
    background-color: yellow;
    text-align: center;
}

td.MAJORS {
    background-color: purple;
    color: white;
    text-align: center;
}
td.FARM-A {
    background-color: #00E800;
    color: #000;
    text-align: center;
}

td.FARM-N {
    background-color: darkgreen;
    color: white;
    text-align: center;
}

td.JR-SR {
    background-color: #07F;
    color: #000;
    text-align: center;
}
td.LEAGUE {
    text-align: center;
}
td.DATE, td.TIME {
    text-align: right;
    
}

td.DATE {
    background-color: #FFF;
}

div#tsll_results {
    text-align: center;
    width: 680px;
}

div#request_form_div {
    text-align: center;
}

td.REQUEST {
    text-align: center;
    background-color: #BBB;
    color: #003;
    font-weight: bold;
}

td.BLACKEDOUT {
    background-color: #000;
    color: #777;
    text-align: center;
}

td.UNAVAIL {
    background-color: #777;
    color: #FFF;
    text-align: center;
}

#tsll_instructions b {
    color: #300;
    
}

td.resv_id {
    text-align: right;
    background: transparent url('../images/lock.png') no-repeat left;
}

td.unlocked {
    text-align: right;
    background: #FDF2EE url('../images/lock_open.png') no-repeat left;
    
}

.ERROR {
    color: #500;
    font-style: italic;
    font-weight: bold;
    font-family: serif;
    margin: 5px;
    padding: 5px;
    display: block;

}

fieldset {
    border: 1px inset #777;
    padding: 5px;
    margin: 5px;
}
a.BUTTON {
    -moz-border-radius: 4px;
    display: inline;
    width: 45px;
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
    padding: 3px;
    margin: 5px;
    line-height: 30px;
    
}

a.BUTTON:hover {
    background-color: #15B;
    color: #FFF;
}

table.widefat tbody tr:hover {
    background-color: #E0EEEE;
}

.alt {
    background-color: #F4F4F8;
}