/**
 * Style sheet for tsllsched plugin
-------------------------------------------------------------------------------------
 Copyright (C) 2015 Scott Novis <scott@novisware.com>

 TSLLFields free software: you can redistribute it and/or modify it under the terms 
 of the GNU General Public License as published by the Free Software Foundation, version.

 This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 
 See the GNU General Public License for more details.
 You should have received a copy of the GNU General Public License along 
 with this program. 
 
 If not, see <http://www.gnu.org/licenses/>.
-------------------------------------------------------------------------------------
 
 */
.connected { margin: 0; padding: 0; }
.row { list-style: square; margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 2em; font-size: 1em; height: 18px; 
							background-color: #CCFFFF; display: block; 
							border: 1px solid #666666; 
							}
.drill  { width: 400px; display: inline-table; }
span.duration { width: 50px; text-align: right; display: inline-block; height: 18px;
								margin: 0px; padding: 0px; 
}
.time { width: 50px; display: inline-table; text-align: right; float: right; }
.editable { background-color:#FFFFCC; }

ul li.row { margin: 0px; text-indent: 0px; line-height: inherit; list-style: square;  }

#hhmm { display: inline; font-weight: bold; }
.right { text-align: right; }
.editInPlace { line-height: 18px; }

h2.tsll_title {
    color: #300;
}

table.RESV_TABLE {
    font-size: 10pt;
}

th.DATE_HEADER {
    width: 60px;
}
th.TIME_HEADER {
    width: 70px;
}
th.FIELD_HEADER {
    width: 60px;
}
th.REQ_HEADER {
    width: 40px
}
tr.MARKED {
    background-color: #FFd;
}
td.OPEN {
    text-align: center;
}

td.OPEN:hover {
    background-color: #33FFFF;
}

td.MINORS {
    background-color: yellow;
    text-align: center;
}

td.MAJORS {
    background-color: purple;
    color: white;
    text-align: center;
}

td.FARM-A {
    background-color: #00E800;
    color: #000;
    text-align: center;
}

td.FARM-N {
    background-color: darkgreen;
    color: white;
    text-align: center;
}

td.JR-SR {
    background-color: #07F;
    color: #000;
    text-align: center;
}

td.BLACKEDOUT {
    background-color: #000;
    color: #777;
    text-align: center;
}

td.UNAVAIL {
    background-color: #777;
    color: #FFF;
    text-align: center;
}

td.LEAGUE {
    text-align: center;
}

td.TSLL {
    background-color: #000;
    color: #777;
    text-align: center;
}

td.INTRALEAGUE {
    background-color: #FA0;
}

td.DATE, td.TIME {
    text-align: right;
    
}

td.DATE {
    background-color: #FFF;
}

tr.PROTECTED {
    background-color: #EDD;
}
tr.PROTECTED td.DATE,
tr.PROTECTED td.TIME,
tr.PROTECTED td.OPEN,
tr.PROTECTED td.LEAGUE {
    background-color: #EDD;
}

tr.PROTECTED td.OPEN:hover {
    background-color: #33FFFF;
}

tr.CLOSED {
    background-color: #AAA;
    color: #777;
}

tr.CLOSED td.CLOSED {
    text-align: center;
}
tr.CLOSED td.TIME,
tr.CLOSED td.DATE {
    color: #000;
    background-color: #FFF;
    
}

div#tsll_results {
    text-align: center;
    width: 680px;
}

div#request_form_div {
    text-align: center;
}

td.REQUEST {
    text-align: center;
    background-color: #BBB;
    color: #003;
    font-weight: bold;
}

td.REQUEST:hover {
    background-color: #2AE;
}

#tsll_instructions b {
    color: #300;
    
}



.ERROR {
    color: #500;
    font-style: italic;
    font-weight: bold;
    font-family: serif;
    margin: 5px;
    padding: 5px;
    display: block;

}

a.BUTTON {
    display: inline;
    width: 45px;
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
    padding: 3px;
    margin: 5px;
    line-height: 30px;
    
}

a.BUTTON:hover {
    background-color: #15B;
    color: #FFF;
}

.note {
    background-color: #FFFFCC;
    border: 1px solid rgb(204,204,204);
}

div.resv_panel {
    width: 640px;
    overflow: auto;
}

#content table.game_schedule {
    width: 860px;
    
}

#content table.game_schedule thead th,
#content table.game_schedule tfoot th {
    color: #888888;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    padding: 2px;
    text-align: center;
}

#content table.game_schedule tr td {
    border-top: 1px solid #E7E7E7;
    padding: 4px;
}

#content table.game_schedule tr td.score {
    width: 64px;
}

.center {
    text-align: center;
}
#content table.game_schedule tr td.game_date {
    width: 164px;
    text-align: center;
}
#content table.game_schedule tr:hover {
    background-color: #F0F8FF;
}