<?php
/*
-------------------------------------------------------------------------------------
 Copyright (C) 2015 Scott Novis <scott@novisware.com>

 TSLLFields free software: you can redistribute it and/or modify it under the terms 
 of the GNU General Public License as published by the Free Software Foundation, version.

 This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 
 See the GNU General Public License for more details.
 You should have received a copy of the GNU General Public License along 
 with this program. 
 
 If not, see <http://www.gnu.org/licenses/>.
-------------------------------------------------------------------------------------
*/
?>

<div class="wrap">
  <style>
    label {
      font-weight: bold;
      display: inline-block;
      width: 64px;
      text-align: right;
    }
    span.cell {
      color: #152549;
      display: inline-block;
      width: 64px;
      text-align: left;      
    }
    textarea { margin-left: 64px;}

  </style>
  <h2>Game Results</h2>
    <form id="game_results" name="game_results" method="post" action="<?= $view->form_action ?>">
    <input type="hidden" name="id" value="<?= $view->id ?>" />
    <input type="hidden" name="level" value="<?= $view->level ?>" />

    <p>
      <label>Level:</label> <span class="cell"><?= $view->level ?></span>
      &nbsp;<label>Date:</label> <span class="cell"><?= $view->game_date ?></span>
      &nbsp;<label>Time:</label> <span class="cell"><?= $view->game_time ?></span>
      &nbsp;<label>Field:</label> <span class="cell"><?= $view->field ?></span>
    </p>
    <p>
      <label>Home:</label> <span class="cell"><?= $view->home ?></span>
      <label>Score:</label>
      <span class="cell"><input name="home_score" type="text" id="home_score" size="4" value="<?= $view->home_score ?>"/></span>
      
    </p>
    <p>
      <label>Visitor:</label> <span class="cell"><?= $view->away ?></span>
      <label>Score:</label>
      <span class="cell"><input name="away_score" type="text" id="away_score" size="4" value="<?= $view->away_score ?>" /></span>
    </p>
    <p>
      <label>Notes:</label><br/>
      <textarea name="notes" id="notes" cols="80" rows="14"><?= $view->notes ?></textarea>
    </p>
    <p>
      <span class="cell" style="padding-left: 64px;"><input type="submit" name="submit" id="submit" value="Update" /></span>
    </p>
  </form>
</div>