<?php
/*
-------------------------------------------------------------------------------------
 Copyright (C) 2015 Scott Novis <scott@novisware.com>

 This application is free software: you can redistribute it and/or modify it under the terms 
 of the GNU General Public License as published by the Free Software Foundation, version.

 This application is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 
 See the GNU General Public License for more details.
 You should have received a copy of the GNU General Public License along 
 with this application. 
 
 If not, see <http://www.gnu.org/licenses/>.
-------------------------------------------------------------------------------------
 
 */
?>

<div class="wrap">
    <h2>Tempe South Little League Schedule Plugin</h2>
    <p>This plugin is designed to help manage the schedule for teams
    playing in Tempe South Little league in <strong><?= $season ?></strong>.</p>
    
    <h3>Usage</h3>
    <p>To use this utility you need to create a schedule using Splended City.
    There are a few guidelines you will need to keep in mind.</p>
    <ol>
        <li>Majors Teams have <em>no</em> prefix.  E.g. Cubs, Cardinals, Dbacks.</li>
        <li>Minors Teams have an <em>m_</em> prefix.  E.g. m_Cubs, m_Cardinals, m_Dbacks.</li>
        <li>Farm American (AAA) teams have an <em>aaa_</em> prefix.  E.g. aaa_Cubs, aaa_Cardinals, aaa_DBacks.</li>
        <li>Farm National (AA) teams have a <em>aa_</em> prefix.  E.g. aa_Cubs, aa_Cardinals, aa_DBacks.</li>
        <li>TBall Teams have a <em>tb_</em> prefix.  E.g. tb_Cubs, tb_Cardinals, tb_Dbacks.</li>
    </ol>
    
    <p>These prefixes are important because the importer uses them to assign teams league levels.</p>
    <h3>Notes</h3>
    <p>Once you have built a schedule, then you can reset the current table and empty the wp_tsll_games
    table.  Then you import the new file.  The file has very specific requirements.  It must be named:
    <code>tsllsched/import.csv</code>.</p>
    <hr/>
    <h3>Current Reservations</h3>
    <?= $view->html ?>
</div>
