<?php
/*
-------------------------------------------------------------------------------------
 Copyright (C) 2015 Scott Novis <scott@novisware.com>

 This application is free software: you can redistribute it and/or modify it under the terms 
 of the GNU General Public License as published by the Free Software Foundation, version.

 This application is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 
 See the GNU General Public License for more details.
 You should have received a copy of the GNU General Public License along 
 with this application. 
 
 If not, see <http://www.gnu.org/licenses/>.
-------------------------------------------------------------------------------------
 
 */
    /**
     * This file is a template that is used to display options to control the database.
     */
    
function tsll_action($action) {
    return $_SERVER['PATH_TRANSLATED'] . "?page=tsll-data&action=$action";
}

?>
<h2>Manage the Data Options</h2>
<ul>
	<li><a href="<?= tsll_action('reset'); ?>">Reset Database</a></li>
    <li><a href="<?= tsll_action('team_list'); ?>">Generate Teams List</a></li>
    <li><a href="<?= tsll_action('import'); ?>">Import Schedule</a></li>
</ul>

<hr/>