<?php
/*
-------------------------------------------------------------------------------------
 Copyright (C) 2015 Scott Novis <scott@novisware.com>

 This application is free software: you can redistribute it and/or modify it under the terms 
 of the GNU General Public License as published by the Free Software Foundation, version.

 This application is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 
 See the GNU General Public License for more details.
 You should have received a copy of the GNU General Public License along 
 with this application. 
 
 If not, see <http://www.gnu.org/licenses/>.
-------------------------------------------------------------------------------------
 
 */
?>

<div class="wrap">
    <h2>Manage Games for <?= $this->season ?></h2>
    
    Filter By: 
    <a href="<?= $view->request_path ?>&level=majors">Majors</a>&nbsp;
    <a href="<?= $view->request_path ?>&level=minors">Minors</a>&nbsp;
    <a href="<?= $view->request_path ?>&level=aaa">Farm AAA</a>&nbsp;
    <a href="<?= $view->request_path ?>&level=aa">Farm AA</a>&nbsp;
    <a href="<?= $view->request_path ?>&level=all">All Games</a>&nbsp;
    
    <hr/>
    <?= $view->table_html ?>
</div>
