<p>You can Filter the Schedule By League, Team, Field or Date.</p>
<p>Current Filters: {FILTERS}</p>

Filter By: 
<a href="?division=majors">Majors</a>&nbsp;
<a href="?division=minors">Minors</a>&nbsp;
<a href="?division=aaa">Farm AAA</a>&nbsp;
<a href="?division=aa">Farm AA</a>&nbsp;
<a href="?filters=none">Show All</a>&nbsp;
<br/>
<div style="display: inline-block; float: left; width: 280px; text-align: left; border-bottom: 1px solid black;"><a href="{PREV_WEEK_LINK}">Previous Week</a></div>
<div style="display: inline-block; float: left; width: 300px; text-align: center;border-bottom: 1px solid black;">{CURRENT_WEEK}</a></div>
<div style="display: inline-block; float: left; width: 280px; text-align: right;border-bottom: 1px solid black;"><a href="{NEXT_WEEK_LINK}">Next Week</a></div>
<div style="clear: both;">&nbsp;</div>
<div id="games_table>">{TABLE}</div>

<div id="game_detail" class="hidden"><p>This is a Modal Dialog</p></div>